@model Nop.Plugin.Widgets.ProductDetailMessage.Models.PublicInfoModel
@{
    Layout = "";

    Html.AddCssFileParts("~/Plugins/Widgets.ProductDetailMessage/Content/style.css");
}

<div class="message-plugin theme-custom">@Model.Message</div>